@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a0a00;
  --foreground: #f5e6d3;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
